<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>862458102751-hit9fd5ibp9eup0etvjit7sntplah990.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.862458102751-hit9fd5ibp9eup0etvjit7sntplah990</string>
	<key>API_KEY</key>
	<string>AIzaSyCza-qIaOJBsyTV1tkyC4CNfLHJo1YqUrI</string>
	<key>GCM_SENDER_ID</key>
	<string>862458102751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.neoarch.n30store</string>
	<key>PROJECT_ID</key>
	<string>n30archstor</string>
	<key>STORAGE_BUCKET</key>
	<string>n30archstor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862458102751:ios:d6ecfe7e6f409b634afa6a</string>
</dict>
</plist>